.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.buttonContainer button {
  
  background-color:  #1f211f9c;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 8px;
  width: 125px; 
}

.buttonContainer button:first-child {
  margin-right: 20px;
}

.buttonContainer button:last-child {
  margin-left: 20px;
}
