.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.buttonContainer button {
  background-color: #3185cf;;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 8px;
  width: 125px;
}

.buttonContainer button:first-child {
  margin-right: 52px;
}

.buttonContainer button:last-child {
  margin-left: 52px;
}

/* 반응형 스타일 */
@media (max-width: 458px) {
  .buttonContainer {
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
  }

  .buttonContainer button:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .buttonContainer button:last-child {
    margin-left: 0;
    margin-top: 10px;
  }
}
