/* Counter.css */
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.image-container {
  margin-top: 200px;
  position: relative;
  margin-bottom: 50px;
}

.counter-image {
  margin-top: 70px;
  width: 380px;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out, fade-in 1s
   ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.counter-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 90px;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.counter-text-large {
  
  margin-top: 120px;
  color: rgb(0, 0, 0);
  font-size: 19px; /* 변경된 텍스트 크기 */
  font-weight: 700;
  margin-left: 10%;
  margin-right: auto;
  white-space: normal; /* 줄바꿈을 위해 변경 */
  
  text-overflow: ellipsis;
  text-align: center; /* 텍스트를 가운데로 정렬 */

}

.center-text {
  margin-top: 120px;
  margin-left: 35%;
  margin-right: 30%;
}

.step3-text {
  font-size: 90px;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out, step3-animation 1s ease-in-out;
  animation-fill-mode: forwards;
}

.step4-text {
  font-size: 90px;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out, step4-animation 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes step3-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  


  
}
@keyframes step4-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  


  
}
