.box{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(211, 222, 212);
    padding: 120px;
    margin-top: '0px';
    border-radius: '8px';
    border: 1.5px solid black;
  }
.profile{
  margin-top: 20%;
}