.ml {
    margin-top: 12%;
  }
  
  Form {
    margin: 0 auto;
    max-width: 350px; /* width 속성을 max-width로 변경 */
  }
  
  .btn-primary.three {
    border-radius: 12px;
    margin-top: 10px;
    width: 100%;
  }

  
  @media (max-width: 360px) {
    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

  

    .mb-3 {
        width: 80%;
        margin-left: 10%; /* 인풋창의 너비를 100%로 변경 */
      }
  
    .mb-4 {
      width: 80%;
      margin-left: 10%; /* 인풋창의 너비를 100%로 변경 */
    }
    .btn-primary.three {
        border-radius: 12px;
        margin-top: 10px;
        margin-left: 10%;
        width: 80%;
      }
  }
  