@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media (max-width: 300px) {
    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  .BrainImg {
    animation: blink 2s infinite;
    margin:  auto; /* 이미지를 수평으로 가운데에 정렬 */
    display: block; /* 이미지를 블록 레벨 요소로 설정 */
  }
  
  .BrainText {
    margin: 40px auto; /* 글자를 수평으로 가운데에 정렬 */
    font-size: larger;
    text-align: center; /* 글자를 가운데로 정렬 */
  }
  